---
title: "Blog"
---
<div class="blog"> 
    <header class="jumbotron blog-header list" style="background-image: url({{'assets/images/home-bg.jpg' | relative_url}})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1 class="uppercase">The Don Perry Blog</h1>
                        <span class="subheading lead">Stories from my day to day life.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 posts">
                {% if site.posts.size > 0 %}
                    {% for post in site.posts %}
                        <div class="post-preview">
                            <a href="{{post.url}}">
                                <h2 class="post-title">
                                    {{post.title}}
                                </h2>
                                <h3 class="post-subtitle">
                                    {{post.subtitle}}
                                </h3>
                            </a>
                            <p class="post-meta">Posted by <a href="{% link index.html %}">{{post.author}}</a> on {{ post.date | date: '%B %d, %Y' }}</p>
                        </div>
                        <hr>
                    {% endfor %}
                {% else %}
                    <h2 class="text-center">No Posts Yet...</h2> 
                {% endif %}
            </div>
        </div>
    </div>
</div>