<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact Don Perry</h2>
            <p>Feel free to get in touch with Don if you are seeking a consultant or if you just want to say hello, and be sure to follow him on Facebook and LinkedIn!</p>
            <p><a href="mailto:socialdonperry@gmail.com">Email Don</a>
            </p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://www.facebook.com/donperrymusiccompany/" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/don-perry-b4796951" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Copyright &copy; DonPerry.net {{ site.time | date: '%Y' }}</p>
        <div class="powered-by" style="text-align: center; margin-top: 30px;">
            <a href="http://www.orbitdigitalgroup.com">
                {% if page.url == '/' %}
                    <img src="{{'assets/images/powered-by-alt.png' | relative_url}}" title="Orbit Digital Marketing Group" alt="Site powered by Orbit Digital Marketing Group">
                {% else %}
                    <img src="{{'assets/images/powered-by.png' | relative_url}}" title="Orbit Digital Marketing Group" alt="Site powered by Orbit Digital Marketing Group">
                {% endif %}
            </a>
        </div>
    </div>
</footer>